.idea
*pyc
results
*.tar.gz
*.gz
*.tgz
ptb
*.zip
*.doc
*.docx
*.o
*checkpoint*
tf_new_tutorials/tf_logs/
*.pth
*workspace
MNIST/*
*.jpg
output_test*
*.jpeg
*jpg
*.pth
*.tar.gz
output*
*.pkl

